{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <h1>Sensor Status</h1>
          </div>
        </article>
        <div class="col-md-4">
          <div class="content-section">
            <h3>The Stats</h3>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Temperature = {{ temp }}</li>
                <li class="list-group-item list-group-item-light">pH Levels = {{ ph }}</li>
                <li class="list-group-item list-group-item-light">Ec1 = {{ ec1 }}</li>
                  <li class="list-group-item list-group-item-light">Ec2 = {{ ec2 }}</li>
                  <li class="list-group-item list-group-item-light">Ec3 = {{ ec3 }}</li>
                  <li class="list-group-item list-group-item-light">Ec4 ={{ ec4 }}</li>
                <li class="list-group-item list-group-item-light">DO = {{ do }}</li>
              </ul>
            </p>
          </div>
        </div>
{% endblock content %}